<section id="rules" class="rules">
    <div class="row">
        <div class="col-12">
            <h2 class="rules-heading">Cincy.gg Server Rules</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordionRules">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="rule0">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule0" aria-expanded="false">
                            <RustIcon />
                            NO KOS (Kill on Sight)
                        </button>
                    </h2>
                    <div id="collapseRule0" class="accordion-collapse collapse" data-bs-parent="#accordionRules" style="">
                        <div class="accordion-body">
                            All PVP MUST happen within a defined PvP zone.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="rule1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule1" aria-expanded="false">
                            <RustIcon />
                            General Gameplay
                        </button>
                    </h2>
                    <div id="collapseRule1" class="accordion-collapse collapse" data-bs-parent="#accordionRules" style="">
                        <div class="accordion-body">
                            <ul>
                                <li>Engaging in player-on-player combat (KOS) or inflicting any type of damage is strictly prohibited outside designated PvP zones.</li>
                                <li>
                                    Bases constructed adjacent to or within firing range of PvP monuments must not be used to attack players within the designated PvP areas.
                                </li>
                                <li>The placement of deployable traps in wilderness areas is forbidden.</li>
                                <li>Turrets installed with the intent to harm unsuspecting players will be subject to removal at the discretion of the administrators.</li>
                                <li>Building in another player's vicinity (TC locked base or Shelter) is allowed, however, that player is allowed to defend their area by any means necessary.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="rule2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule2" aria-expanded="false">
                            <RustIcon />
                            PvP Zones
                        </button>
                    </h2>
                    <div id="collapseRule2" class="accordion-collapse collapse" data-bs-parent="#accordionRules" style="">
                        <div class="accordion-body">
                            The following areas are considered PvP zones:
                            <ul>
                                <li>Airfield</li>
                                <li>Arctic Research Base</li>
                                <li>Dome</li>
                                <li>Excavator</li>
                                <li>Harbors</li>
                                <li>Junkyard</li>
                                <li>Launch Site</li>
                                <li>Military Tunnels</li>
                                <li>Missle Silo</li>
                                <li>Oil Rigs</li>
                                <li>Powerplant</li>
                                <li>Quarries</li>
                                <li>Satellite Dish</li>
                                <li>Sewer Branch</li>
                                <li>Train Yard</li>
                                <li>Underwater Labs</li>
                                <li>Water Treatment</li>
                            </ul>
                            <br/>
                            In addition, PvP zones are created for airdrops, patrol helicopter debris field, locked crates, and raids. See the rules on raiding for more information about the PvP zone.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="rule3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRule3" aria-expanded="false">
                            <RustIcon />
                            Raiding
                        </button>
                    </h2>
                    <div id="collapseRule3" class="accordion-collapse collapse" data-bs-parent="#accordionRules" style="">
                        <div class="accordion-body">
                            <ul>
                                <li>Raids are prohibited within the first 24 hours following a server wipe.</li>
                                <li>Raiding is only permissible with the team with whom you share a base.</li>
                                <li>Teams may only raid bases secured with code locks. Solo players may only raid bases secured with key locks. Countering raids is permissible for all, but teams countering solo raids and solos countering team raids must not continue the raid. Locks must not be switched without administrative approval.</li>
                                <li>Killing on sight is permitted if there is an intent to initiate immediate destruction (e.g., possession and imminent use of rockets, C4, or satchels). However, if the player is unaware that a raid is underway (meaning that no rockets have actually been fired), you MUST allow them to collect their loot if they wish.</li>
                                <li>Players remain vulnerable while within the raided base, when exiting the raided base, or in the immediate vicinity with the loot. Safety is only assured once inside one’s own base.</li>
                                <li>Audience participation or observation during raids by allied players is not allowed.</li>
                                <li>Tugboats, regardless of lock type, are subject to raiding by any player, team or solo. Post-raid, tugboats may be sunk or commandeered. Boats within compound walls are also subject to raiding.</li>
                                <li>Occupation or takeover of raided bases is not allowed.</li>
                                <li>Do not lock the Tool Cupboard (TC). If a new TC is placed, it must be left unlocked post-raid. Do not enclose a TC within walls, including external placement and enclosure.</li>
                                <li>Foundational destruction of bases is prohibited.</li>
                                <li>Do not wall off players’ spawn bags or leave your own bag in a raided base.</li>
                                <li>Raid bases must be left to decay naturally post-raid. Ensure the TC is emptied to facilitate decay.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>