<!--<section id="store" class="store">
    <div class="row">
        <div class="d-none d-md-flex col-12 col-md-6">
            <div class="store-image-container">
                <img class="img-fluid" src="img/vending.webp" alt="A vending machine in Rust" title="Shop" />
                <div class="store-image-overlay"></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="store-heading text-center text-md-start">The Outpost</h2>
            <div class="store-message">
                Want to help support Cali.gg servers? VIP Perks include:
                <ul>
                    <li>Custom Chat Color</li>
                    <li>Map Previews</li>
                    <li>Public Ban Feed</li>
                    <li>and more!</li>
                </ul>
            </div>
            <a href="https://shop.cali.gg/" title="Shop" target="_blank" class="d-block d-md-inline-block btn btn-primary btn-store">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                    ></path>
                </svg>
                Visit Shop
            </a>
        </div>
    </div>
</section>-->
<RulesContent />
@* <section id="staff" class="staff">
    <div class="row">
        <div class="col-12">
            <h2 class="staff-heading">Cali.gg Staff Team</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="member-container d-flex justify-content-center">
                <div class="member d-flex flex-column">
                    <img loading="lazy" src="#" alt="Avatar of Woj" title="Woj" />
                    <div class="member-description">
                        <span class="member-name">Woj</span>
                        <span class="member-rank">Owner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
@* <section id="faq" class="faq">
    <div class="row">
        <div class="col-12">
            <h2 class="faq-heading">Frequently Asked Questions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordionFaq">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faq0">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFaq0">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            Where can I report a cheater?
                        </button>
                    </h2>
                    <div id="collapseFaq0" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                        <div class="accordion-body">
                            All cheating reports should be submitted using the the in-game F7 system.<br />
                            You can also contact staff directly in our <a href="https://Discord.gg/CaliGG">Discord</a> via our ticket system.<br />
                            <br />
                            Please do <u>not</u> report <u>server rule</u> violations via F7, this should be done via our ticket system.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@