<div class="modal fade modal-rust" id="server0" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="server-image-modal-container">
                    <img class="server-image-modal img-fluid" src="img/08d64340-d3d1-47c3-81c3-8506420dec8f.webp" alt="Cali.gg 420 | No KOS | Noob Friendly | Active Admins Server Image" title="Cali.gg 420 | No KOS | Noob Friendly | Active Admins" />
                    <div class="server-image-modal-overlay"></div>
                </div>
                <div class="server-modal-details">
                    <span class="server-name">@serverStatus?.Hostname</span>
                    <span class="server-description"> <a href="#" target="_blank">@serverStatus?.Level</a> - @serverStatus?.Players/@serverStatus?.MaxPlayers </span>
                    <span class="server-rules">
                        Map Wipe Bi-Weekly on Thursdays 2pm EST | BP Wipes on Force<br />
                        Group Limit: 4 | Map 3700<br />
                        <a href="https://Discord.gg/CaliGG" target="_blank">Discord.gg/CaliGG</a><br />
                        <br />
                        Active Non-Playing Admin Team<br />
                        This server is noob friendly with limited KOS zones.<br />
                        <br />
                        We are centered around the community and aim to provide an awesome server experience for players of all skill levels and experience.<br />
                        For our full rules, please visit our website.<br />
                        <br />
                        -Reduced Upkeep<br />
                        -PVP at all monuments, raids, attack heli crash sites, and drops<br />
                        -No EAC Rust banned alt accounts &lt;365 days<br />
                        -No VAC or other non-Rust Gamebans &lt;90 days<br />
                        -No Racial Comments or ToS Violations
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://www.battlemetrics.com/servers/rust/24884853" target="_blank" title="BattleMetrics" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
                        ></path>
                    </svg>
                    BattleMetrics
                </a>
@*                 <a href="https://shop.cali.gg/category/wipe" target="_blank" title="Shop" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                    </svg>
                    Shop
                </a> *@
                <a href="steam://connect/142.4.223.129:2023?appid=252490" title="Connect via Steam" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
                    </svg>
                    Connect
                </a>
            </div>
        </div>
    </div>
</div>
