<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="./img/logo.png" alt="Logo of Cali.gg" title="Cali.gg Logo" />
                <div>
                    <span class="copyright">&copy; 2023 cincy.gg. All rights reserved.</span><br />
                    <small>Cincy.gg is not affiliated with, nor endorsed by Facepunch Studios Ltd. All trademarks and images belong to their respective owners.</small>
                </div>
            </div>
        </div>
    </div>
</footer>