@page "/"

<PageTitle>Cincy.GG</PageTitle>
<ServerInfoModal />
<div class="layout-container">
    <div class="sticky-container">
        <MainHero />
    </div>
    <div class="scrollable-content">
        <ScrollableContent />
    </div>
</div>
